#grids {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
  min-width: 300px;
  min-height: 300px;
}
#tools{
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#tools button{
  width: 100%;
}
#tools button.active {
  background-color: #4CAF50;    /* or whatever highlight */
  color: white;
}
#grids > div {
  border: 1px solid #ccc;
  background: white;
  box-sizing: border-box;
  min-width: 0;
}
#topbar{
    text-align: left;
    background-color: aquamarine;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}
#content{
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    align-items: center;
}
h1{
    margin: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (max-width: 1200px) {
  #content {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  #content {
    gap: 50px;
  }

  #tools {
    width: 150px;
    gap: 16px;
  }


  #grids {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  #topbar {
    font-size: 10px;
  }

  #content {
    flex-direction: column-reverse;
  }

  #grids {
    width: 300px;
    height: 300px;
  }
}